#botaofinal {
    padding-bottom: 5%;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: medium;
    margin-bottom: 2%;
}
.titulo {
    padding-bottom: 2.5%;
}
h2 {
    padding-bottom: 2.5%;
}
h4 {
    padding-bottom: 0.5%;
}
#comment {
    margin-bottom: 4%;
}
.lab {
    font-weight: normal;
}
textarea {
    resize: none;
}
.botoes {
    margin: auto;
    width: 50%;
}